<div class="font-[sans-serif]">
  <div class="min-h-screen flex fle-col items-center justify-center p-6">
    <div class="grid lg:grid-cols-2 items-center gap-6 max-w-6xl max-lg:max-w-lg w-full">
      <form class="lg:max-w-md w-full" [formGroup]="form" (ngSubmit)="submit()">
        <h3 class="text-gray-800 text-2xl font-bold mb-8">Create an account</h3>
        <div class="space-y-6">
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Email</label>
            <input name="email" formControlName="email" type="text"
                   [ngClass]="form.get('email')?.invalid && form.get('email')?.touched ? 'border-red-300 border-2' : 'border border-gray-100 focus:border-black'"
                   class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 focus:bg-transparent outline-none transition-all" placeholder="Enter email" />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red-500 text-sm text-end">
              <p *ngIf="form.get('email')?.errors?.['required']">Email is required.</p>
              <p *ngIf="form.get('email')?.errors?.['email']">Invalid email format.</p>
            </div>
          </div>
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Password</label>
            <input name="password" formControlName="password" type="password"
                   [ngClass]="form.get('password')?.invalid && form.get('password')?.touched ? 'border-red-300 border-2' : 'border border-gray-100 focus:border-black'"
                   class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 focus:bg-transparent outline-none transition-all" placeholder="Enter password" />
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-red-500 text-sm text-end">
              <p *ngIf="form.get('password')?.errors?.['required']">Password is required.</p>
              <p *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</p>
              <p *ngIf="form.get('password')?.errors?.['pattern']">
                Password must be at least 6 characters long, include a lower and uppercase letter, a number, and a special character.
              </p>
            </div>
          </div>
          <div class="flex items-center">
            <input id="terms" checked #terms (change)="terms.checked = true" name="terms" type="checkbox" class="h-4 w-4 shrink-0 border-gray-300 rounded" />
            <label for="terms" class="ml-3 block text-sm text-gray-800">
              I accept the <a href="https://joshuaondieki.com" target="_blank" class="text-blue-600 font-semibold hover:underline ml-1">Terms and Conditions</a>
            </label>
          </div>
        </div>

        <div class="mt-6">
          <button type="submit"
                  [disabled]="form.invalid"
                  [ngClass]="form.invalid ? 'bg-blue-300 cursor-not-allowed' : 'bg-blue-600 hover:bg-blue-700 cursor-pointer'"
                  class="w-full flex justify-between py-3 px-6 text-sm text-white tracking-wide focus:outline-none">
            <span>
              @if (submitting()) {
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                  </svg>
              }
            </span>
            <span>Get Started</span>
          </button>
        </div>
        <p class="text-sm text-gray-800 mt-6">Already have an account? <a routerLink="/signin" class="text-blue-600 font-semibold hover:underline ml-1">Login here</a></p>
      </form>

      <div class="h-full">
        <img src="https://readymadeui.com/login-image.webp" class="w-full h-full object-contain aspect-[628/516]" alt="login img" />
      </div>
    </div>
  </div>
</div>
